[submodule "Firmware/submodules/baf"]
	path = Firmware/submodules/baf
	url = git@github.com:borgel/baf.git
[submodule "Firmware/submodules/yabi"]
	path = Firmware/submodules/yabi
	url = git@github.com:borgel/yabi.git
